<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>남부여성 식당 방명록2</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container">
    <h1>
      남부여성 식당 -code Production에 배포

      <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
      </a>
    </h1>
  </body>
</html>
